/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
}

html {
  height: 100%;
}

canvas {
  max-width: 100vw;
  max-height: 100vh;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

input {
  vertical-align: middle;
  line-height: normal;
}

input::placeholder,
textarea::placeholder {
  color: #52606d;
  /* color: #3C4859; */
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #52606d;
  line-height: 1.5;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #52606d;
  line-height: 1.5;
}

::selection {
  background: #000;
  color: #fff;
  text-shadow: none;
}

/* Font Declaration */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
}

/* Font Declaration */

/* Classes */

.btn-cc {
  border-radius: 5px;
  display: block;
  padding: 0.5rem 0.9rem;
  font-weight: 700;
  border-style: solid;
  text-align: center;
  white-space: nowrap;
}

.btn-lg {
  padding: 0.625rem 1.5rem;
}

.active-nav {
  border-bottom: 2px solid;
}

.link-animation:hover .active-nav {
  border-bottom: 2px solid #ffffff;
}

.justify-self-center {
  justify-self: center;
}

.padding-inline-start {
  padding-inline-start: 30px;
}

.block-imp {
  display: block !important;
}

.text-muted-black {
  color: #333333;
}

.text-muted-gray {
  color: #414141;
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.let-space-3 {
  letter-spacing: -3px;
}

.let-space-5 {
  letter-spacing: -5px;
}

.color-invert {
  filter: invert(1);
  mix-blend-mode: difference;
}

.btn-skeleton {
  height: 38px;
  padding: 0 30px;
  text-align: center;
  font-weight: 600;
  white-space: nowrap;
  border-radius: 4px;
  cursor: pointer;
}

.bg-gray-nice {
  background-color: #f6f5f4;
}

.bg-ivory {
  background-color: #f7f1e3;
}
.h-1\/2 {
  height: 50%;
}

.before-01::before {
  content: "01";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-02::before {
  content: "02";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-03::before {
  content: "03";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-04::before {
  content: "04";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-05::before {
  content: "05";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-06::before {
  content: "06";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-07::before {
  content: "07";
  display: block;
  font-weight: 600;
  font-style: normal;
}

.before-08::before {
  content: "08";
  display: block;
  font-weight: 600;
  font-style: normal;
}

/* Classes */

/* IDs */

#arrow-studio-page {
  width: 40px;
  height: auto;
}

#arrow-studio-page:hover {
  fill: #6c83ea;
}

#mouse-img {
  height: 90px;
}

/* #hero {
  background-image: url(../img/placeholder.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#hero.loaded {
  background-image: url(../img/bg-main.jpeg);
}

#studio-hero {
  background-image: url(../img/bg-studio.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */

/* Menu toggle */
#menuToggle {
  width: fit-content;
  margin-left: auto;
  z-index: 2;
}

#form-main-page .border-red,
#form-container .border-red {
  border-color: #f56565;
}

#checkbox.checkbox {
  display: none;
}

#footer {
  background-color: #1a202c;
}

#footer.bg-indigo-1000 {
  background-color: #3a3462;
}

.hover-opacity:hover {
  opacity: 0.6;
  transition: all 0.2s;
}

#menuToggle .label {
  position: relative;
  display: block;
  height: 26px;
  width: 32px;
  cursor: pointer;
  z-index: 2;
}

#menuToggle .label::before,
#menuToggle .label::after {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #555;
  transition: all 0.3s ease;
}

#menuToggle .label::before {
  top: 6px;
}

#menuToggle .label::after {
  top: 18px;
}

#menuToggle.active .label::before {
  transform: translateY(6px) rotate(45deg);
  transform-origin: center;
}

#menuToggle.active .label::after {
  transform: translateY(-6px) rotate(-45deg);
  transform-origin: center;
}

/* Menu toggle */

/* Menu */
#menu {
  content: "";
  position: fixed;
  justify-content: left;
  text-align: left;
  margin-top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: transform cubic-bezier(0.4, 0.01, 0.165, 0.99) 0.4s !important;
  z-index: 100;
}

#menu .link-animation {
  line-height: 1.5;
  text-decoration: none;
  color: #1e1e23;
  opacity: 1;
  font-size: 3rem;
  transition: 200ms;
  text-align: left;
  padding: 0.5rem 1rem;
}

#menu.active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  overflow: hidden;
}

.nav-list-item {
  opacity: 0;
  -webkit-transform: translateY(2rem);
  transform: translateY(3.5rem);
  transition: opacity 0.2s ease, transform 0.3s ease;
}

#menu.active .nav-list-item {
  opacity: 1;
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  transition: opacity 0.2s ease,
    transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1), color 0.2s ease;
}

#menu.active .nav-list-item:nth-child(1) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
  color: red;
}

#menu.active .nav-list-item:nth-child(2) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
  color: blue;
}

#menu.active .nav-list-item:nth-child(3) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  color: teal;
}

#menu.active .nav-list-item:nth-child(4) {
  -webkit-transition-delay: 0.9s;
  transition-delay: 0.9s;
  color: forestgreen;
}

#menu-items {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
}

.center-x {
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.center-y {
  right: 50%;
  -webkit-transform: translateX(+50%);
  transform: translateX(+50%);
}

.center-xy {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Waves */
.waves {
  transform: translateY(2px);
  width: 100%;
  height: 10vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    margin-bottom: -9px;
    height: 60px;
    min-height: 60px;
  }
}

/* Waves */

/* Menu*/

header {
  height: 80px;
  z-index: 1000;
}

#lang-toggle {
  padding: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  min-width: fit-content;
  top: 50px !important;
}

#lang-toggle span {
  padding-top: 13px;
  width: fit-content;
  margin: auto;
}

.w-52px {
  width: 52px;
}

#lang-toggle {
  color: #000;
  font-size: 14px;
  width: 48.5px;
}

#lang-toggle a {
  height: 40px;
}

#lang-list {
  line-height: 0;
  top: 59px;
  height: 82px;
  width: 52px;
}

.max-w-80 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* #contact-page {
    background-image: url(../img/test5.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

/* IDs */


/* Loader */

@media (min-width: 640px) {
  .sm\:FadeUp {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  .sm\:FadeRight {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  .sm\:FadeLeft {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }

  .sm\:anim-delay-05 {
    transition-delay: 0.5s !important;
  }

  .sm\:anim-delay-06 {
    transition-delay: 0.6s !important;
  }

  .sm\:anim-delay-07 {
    transition-delay: 0.7s !important;
  }

  .sm\:anim-delay-08 {
    transition-delay: 0.8s !important;
  }

  .sm\:anim-delay-09 {
    transition-delay: 0.9s !important;
  }

  .sm\:anim-delay-10 {
    transition-delay: 1s !important;
  }
}

@media (max-width: 640px) {
  .scroll-lock {
    overflow: hidden;
  }

  #blob-top {
    height: 50vh;
  }

  #blob-bottom {
    height: 50vh;
    bottom: -8%;
  }

  #arrow-studio-page {
    width: 40px;
  }
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}
