/* purgecss start ignore */
@tailwind base;
@tailwind components;

.example-wrapper {
  @apply text-white py-6 flex flex-wrap justify-center items-center;
}

/* purgecss end ignore */
@tailwind utilities;

html {
  height: 100%;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  text-rendering: optimizeLegibility;
}

::selection {
  background: #4c566a;
  color: #eceff4;
  text-shadow: none;
}

/* Font Declaration */

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/Inter-Black.woff2") format("woff2"),
    url("../fonts/Inter-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
    url("../fonts/Inter-Bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
    url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Inter-Light.woff2") format("woff2"),
    url("../fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
    url("../fonts/Inter-Medium.woff") format("woff");
}

/* Font Declaration */

/* Classes */

.text-muted-black {
  color: #333333;
}

.text-muted-grey {
  color: #414141;
}

.color-invert {
  filter: invert(1);
  mix-blend-mode: difference;
}

.bg-grey-nice {
  background-color: #f6f5f4;
}

.bg-ivory {
  background-color: #f7f1e3;
}

.h-1\/2 {
  height: 50%;
}

.h-14 {
  height: 3.5rem;
}
.main-h-14 {
  min-height: 3.5rem;
}

.center-x {
  top: 50%;
  transform: translate(0, -50%);
}

.center-y {
  right: 50%;
  transform: translateX(+50%);
}

.center-xy {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}